.full-container {
  background: #000;
}
.about_container {
  padding: 100px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-title {
  font-weight: 500;
  display: block;
  color: hsla(0, 0%, 100%, 0.65);
  margin-bottom: 15px;
}
.about_content p {
  max-width: 620px;
  margin-bottom: 20px;
}
.about_content h2 span {
  color: var(--primary-color);
}
.about_content h2 {
  margin-bottom: 25px;
  margin-top: 0;
}

.about_image {
  position: relative;
}

.about_image .main_image {
  width: -webkit-fill-available;
  height: inherit;
  margin-left: 40px;
  object-fit: contain;
}

ul.list-collection {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

ul.list-collection li {
  width: 50%;
}

ul.list-collection li {
  color: #fff;
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-bottom: 20px;
}

ul.list-collection li:before {
  content: "";
  line-height: 1;
  margin-top: 2px;
  margin-right: 12px;
  background-image: url("./check-solid.svg");
  color: var(--primary-color);
  height: 23px;
  width: 23px;
  background-repeat: no-repeat;
}

.left_content {
  width: 100%;
}
.about_image {
  width: 100%;
}

.about-info-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  border-radius: 20px;
  padding: 16px 40px 16px;
  background: var(--lighter-color);
  border: 1px solid var(--border-color);
  justify-content: space-between;
}

.info-box-item {
  display: flex;
  align-items: center;
}

.info-box-item i {
  margin-right: 15px;
  color: var(--black-color);
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  display: block;
}

.info-box-item .content {
  line-height: 1.5;
}

.info-box-item .content span {
  font-size: 14px;
}

.info-box-item .content a:not(:hover) {
  color: #fff;
}

.info-box-item .content a:hover {
  color: var(--primary-color);
}

.about-btn {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  color: var(--black-color);
  padding: 10px 25px 10px 10px;
  width: fit-content;
  gap: 1rem;
}

.about-btn h6 {
  color: #000;
  margin: 0;
}

.about_image .dot-shape {
  position: absolute;
  left: -10%;
  top: 25%;
  animation: rotated_circle 10s linear infinite;
}

@keyframes rotated_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.about_image .about-btn:first-of-type {
  position: absolute;
  bottom: 45%;
  left: -10%;
}

.about_image .about-btn:nth-child(3) {
  position: absolute;
  bottom: 25%;
  left: -15%;
}

@media only screen and (min-width: 376px) {
  .info-box-item .content a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 376px) {
  ul.list-collection li {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .left_content {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .about_image {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .about_content h2 {
    width: 95%;
  }
}

@media (max-width: 1228px) and (min-width: 993px) {
  .left_content {
    width: 56.33333333%;
  }
}

@media (max-width: 992px) {
  .about_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .about_image .main_image {
    margin-left: 100px;
  }
  .about_image .about-btn:first-of-type {
    bottom: 45%;
    left: 2%;
  }

  .about_image .about-btn:nth-child(3) {
    bottom: 22%;
    left: -3%;
  }
  .about_image .dot-shape {
    left: 2%;
    top: 18%;
  }
}

@media (max-width: 600px) {
  ul.list-collection li {
    width: 100%;
  }
  .about-info-box {
    gap: 2rem;
  }
  .about-btn h6 {
    font-size: 14px;
  }
  .about-btn img {
    height: 20px;
    width: 20px;
  }
  .about_image .about-btn:first-of-type {
    bottom: 45%;
    left: 2%;
  }

  .about_image .about-btn:nth-child(3) {
    bottom: 15%;
    left: -3%;
  }
  .about_image .dot-shape {
    left: 2%;
    top: 18%;
  }
}
