@import url("./Hiddenbar.css");

.parent {
  position: relative;
}

@media (min-width: 576px) {
  .container-1440 {
    max-width: 540px !important;
  }
}

@media (min-width: 769px) {
  .container-1440 {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container-1440 {
    max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container-1440 {
    max-width: 1440px !important;
  }
}

.container-1440 {
  margin: auto;
  position: relative;
}