.container-1440 {
  max-width: 1440px !important;
  margin: auto;
  position: relative;
}
@media (max-width: 992px) {
  .container-1440 {
    max-width: 960px !important;
  }
}

@media (max-width: 768px) {
  .container-1440 {
    max-width: 720px !important;
  }
}

@media (max-width: 576px) {
  .container-1440 {
    max-width: 540px !important;
  }
}
