header {
  nav {
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    width: -webkit-fill-available;
    max-width: inherit;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  ul a {
    color: #fff;
    text-decoration: none;
    height: 25px;
    position: relative;
  }

  ul a:hover {
    color: #c9f31d;
    text-decoration: underline;
    transition: all 0.3s linear;
  }

  ul a:after {
    content: "";
    opacity: 0;
    position: absolute;
    left: 0;
    top: 115%;
    transition: 0.5s;
    width: 25px;
    height: 2px;
    background: #c9f31d;
  }

  ul a:hover:after {
    opacity: 1;
  }

  .nav_button {
    width: 176px;
    display: flex;
    justify-content: end;
  }

  .toggle_button {
    background: #c9f31d;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.scrolled {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1000;
  background: #131313;
  max-width: inherit;
  box-shadow: 0 0 30px 0 rgba(87, 95, 245, 0.1);
  transition: all 0.3s ease-in;
}

@media (max-width: 992px) {
  .navbar ul {
    display: none;
  }
}

@media (min-width: 1440px) {
  header nav {
    padding: 0;
  }
}
